.modal #modal {
  display: grid  ; grid-template-columns: 1fr;

  content: "blue";

  grid-template-columns: 1fr     1fr    ; gap: 1rem;

  grid-template-columns: repeat(3, 1fr);


  color: #133377;
  color: pink;
}

div {}
