.modal #modal {
  display: grid  ; grid-template-columns: 1fr;

  @media (min-width: 576px) {


    grid-template-columns: 1fr     1fr    ;
    gap: 1rem;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  };

  color: pink;
  color: #11333377;
}

div {}
